/* @override
http://127.0.0.1/wp-ysa/wp-content/themes/YSA/style.css
https://yoursecretadmirerbox.com/wp-content/themes/YSA/style.css */

/*
Theme Name: Your Secret Admirer
Author: Taggart Media / Subtle Monsters
Author URI: taggartmediagroup.com / subtlemonsters.com
Description: Custom theme for Your Secret Admirer
Version: 1.0
*/

.breadcrumb, .breadcrumb a{
	font: 18px/18px 'Raleway', sans-serif;
	color: #6d777b;
}
.breadcrumb a:after {
	color: #6d777b;
}
.breadcrumb a::after {
	padding: 0 5px;
	color: #ccc;
	content: "\0020/\00a0";
}
ul.page-numbers {
	width: 100%;
	float: left;
	border-top: 1px solid #d8d8d8;
	margin: 20px 0 60px;
}
.page-numbers li {
	width: 40px;
	float: left;
}
.page-numbers li a.italic {
	font-family: 'Raleway', sans-serif;
}
.page-numbers li a, .page-numbers li span {
	width: 100%;
	float: left;
	text-align: center;
	font: 18px/18px 'Raleway', sans-serif;
	color: #6d777b;
	padding: 25px 0 0;
}
.page-numbers li a:hover, .page-numbers li span {
	color: #43c4ab;
	border-top: 1px solid #43c4ab;
	margin: -1px 0 0;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}
.blog-sidebar ul {
	width: 100%;
	float: left;
	margin: 0 0 35px;
}
li.cat-item {
	width: 100%;
	float: left;
	margin: 0 0 18px;
}
li.cat-item a {
	clear: both;
	float: left;
	font: 18px/18px 'Raleway', sans-serif;
	color: #374246;
	padding: 0 0 0 30px;
	background: url(img/cat-icon.png) 0 50% no-repeat;
}
li.cat-item a:hover {
	color: #43c4ab;
}
.address-info {
	float: left;
	width: 100%;
	font: 18px 'Raleway', sans-serif;
	color: #6d777b;
}
.address-info h3 {
	float: left;
	width: 100%;
	margin: 0 0 6px;
	font: 18px 'Raleway', sans-serif;
	color: #374246;
	text-transform: uppercase;
}
.address-info a {
	color: #43c4ab;
}
.contact-info p {
	float: left;
	width: 100%;
	padding: 0 70px;
	font: 18px 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}
.single #submit {

	float: left;
	background: #43c4ab;
	border: 0px solid #d8d8d8;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 14px 25px;
}
/* WooCommerce */
.woocommerce .checkout-button, .woocommerce .coupon .button {
	float: left!important;
	background: #43c4ab!important;
	color: #fff!important;
	text-align: center!important;
	text-transform: uppercase!important;
	transition: all ease .3s!important;
	font-weight: normal!important;
	border-radius: 0px!important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    text-transform: uppercase!important;
	font-weight: normal!important;
	border-radius: 0px!important;
}

.products li {
	float: left;
	width: 100%;
	margin: 0;
	border: 1px solid #d8d8d8;
	border-bottom: none;
}
.products h3 {
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 10px 0 0;
	border-top: 1px solid #d8d8d8;
	color: #374246;
	text-align: center;
	text-transform: uppercase;
}
.woocommerce ul.products li.product h3 {
	font-size: 18px!important;
}
span.price {
	clear: both;
	display: table;
	width: 97%;
	margin: 0 auto 10px;
	padding: 10px 0 0;
	border-top: 1px solid #d8d8d8;
	font: 18px 'Raleway', sans-serif;
	color: #43c4ab;
	text-align: center;
	text-transform: uppercase;
}
.woocommerce ul.products li.product .price {
	color: #43c4ab!important;
	font-size: 18px!important;
}
.woocommerce #respond input#submit, .woocommerce .view-detail-btn a.button, .woocommerce button.button {
	padding: 0!important;
	border-radius: 0!important;
	color: #fff!important;
	background-color: transparent!important;
}
.woocommerce .view-detail-btn a.add_to_cart_button, .view-detail-btn .button {
	float: left;
	width: 50%;
	padding: 14px 0;
	font: 14px 'Raleway', sans-serif!important;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.view-detail-btn {
	margin: 0;
}
ul.products li.product .stock.out-of-stock {
	position: absolute;
	top: 0;
	color: #fff!important;
	width: 100%;
	height: 40px;
	margin: 10px 0 30px;
	font: 24px 'Raleway', sans-serif;
	text-align: center;
}
.woocommerce div.product p.stock {
	font-size: 23px;
}
.archive .outofstock img, .page .outofstock img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.outofstock .zoom img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.woocommerce h1.page-title {
	display: none;
}
.pagination-product {
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border-top: 1px solid #d8d8d8;
}
.woocommerce nav.woocommerce-pagination ul {
	border: none!important;
	margin: 0!important;
}
.woocommerce nav.woocommerce-pagination ul li {
	border-right: none!important;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	font: 18px/18px 'Raleway', sans-serif!important;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	background: transparent!important;
	color: #43c4ab!important;
}
.woocommerce-pagination {
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border-top: 1px solid #d8d8d8;
}
.page-numbers {
	width: auto;
	float: none;
	display: table;
	margin: 0 auto;
	border-top: none;
}
.page-numbers li {
	width: 40px;
	float: left;
}
.page-numbers li a. {
	font-family: 'Raleway', sans-serif;
}
.page-numbers li a {
	width: 100%;
	float: left;
	text-align: center;
	font: 18px/18px 'Raleway', sans-serif;
	color: #6d777b;
	padding: 25px 0 0;
}
.page-numbers li a:hover, .page-numbers li .current {
	color: #43c4ab;
	border-top: 1px solid #43c4ab;
	margin: -1px 0 0;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}
.woocommerce ul.products li.product .star-rating {
	display: none;
}
/* Single Product */
.woocommerce div.product {
	margin-top: 40px;
}
.woocommerce div.product .product_title {
	margin: 0 0 5px;
	color: #374246;
	text-transform: uppercase;
}
.summary .amount {
	float: left;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #d8d8d8;
	font: 23px 'Raleway', sans-serif;
	color: #43c4ab;
	text-transform: uppercase;
}
.product .summary p {
	float: left;
	width: 100%;
	padding: 20px 0;
	margin: 0 0 23px;
	border-bottom: 1px solid #d8d8d8;
	font: 400 14px "Open Sans";
	color: #6d777b;
	line-height: 24px;
	font-size: 13px;
}
.product .summary p.price {
	padding: 0;
	margin: 0;
}
.woocommerce-tabs {
	padding: 10px 0;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
.woocommerce div.product form.cart .button, .woocommerce #review_form #respond .form-submit input {
	clear: both!important;
	float: left!important;
	padding: 13px 35px!important;
	background: #43c4ab!important;
	font: 18px 'Raleway', sans-serif!important;
	color: #fff!important;
	text-align: center!important;
	text-transform: uppercase!important;
	transition: all ease .3s!important;
}
.woocommerce div.product form.cart .button:hover, ..woocommerce div.product form.cart .button:focus {
	color: #fff!important;
	background: #c27b0b!important;
}
.woocommerce #reviews h2, .woocommerce #reviews h3 {
	font: 23px 'Raleway', sans-serif;
	color: #43c4ab;
}
.upsells h2 {
	clear: both;
	display: table;
	margin: 0 auto 20px;
	padding: 10px 0 0;
	background: url(../img/small-border.png) top center no-repeat;
	font: 18px 'Raleway', sans-serif;
	color: #374246;
	text-align: center;
	text-transform: uppercase;
}
.cart-sec a {
	margin: 0;
}
.cart-sec a {
	float: left;
	margin: 0;
	font: 14px 'Raleway', sans-serif;
	color: #43c4ab;
	text-transform: uppercase;
}
.product_meta {
	float: left;
	width: 100%;
	padding: 10px 0;
	font: 18px 'Raleway', sans-serif;
	color: #43c4ab;
}
.woocommerce div.product form.cart div.quantity {
	margin: 0 4px 10px 0!important;
}
#reviews h2, #reviews h3 {
	text-transform: uppercase!important;
}
.woocommerce #reviews h3 {
	margin: 10px 0 0 0!important;
}
#reviews label {
	font-size: 18px;
}
.related.products h2 {
	clear: both;
	display: table;
	margin: 30px auto 20px;
	padding: 10px 0 0;
	background: url(./img/small-border.png) top center no-repeat;
	font: 18px 'Raleway', sans-serif;
	color: #374246;
	text-align: center;
	text-transform: uppercase;
}
.sku_wrapper {
	display: none;
}
/* Featured Products */
.home .woocommerce.columns-3 {
	display: table;
	width: 95%;
	margin: 0 auto;
	padding: 10px 15px;
	background: #374246;
}
.home .woocommerce .products ul, .home .woocommerce ul.products {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}
.home .products li {
	position: relative;
	float: left;
	width: 33%;
	margin: 0 2px 0 0;
	padding: 0 45px 30px;
	border: 1px solid transparent;
}
.home .woocommerce ul.products li.product a img {
	position: relative;
	float: none;
	width: 70%;
	margin: 50px auto 15px;
	border: 5px solid #2b3437;
}
.product_list_widget li {
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.product_list_widget img {
	width: 22%; height: auto;
	float: left;
}
.product_list_widget span {
	width: 75%;
	float: right;
}
.product_list_widget .product-title {
	width: 75%;
	font: 18px/18px 'Raleway', sans-serif;
	color: #374246;
	padding: 0 0 10px;
	border-bottom: 1px solid #d8d8d8;
	margin: 0 0 10px;
}
.product_list_widget .amount {
	font: 14px/18px 'Raleway', sans-serif;
	color: #43c4ab;
	text-transform: uppercase;
}

/* Account */
p.myaccount_user {
	margin-bottom: 1em;
}
p.myaccount_address {
	margin: 1em 0;
}
.woocommerce label {
	font-size: 18px;
	display: inline;
}
/* Cart */
.woocommerce table.shop_table, .woocommerce .cart_totals {
	border-radius: 0;
	font-size: 18px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: auto;
}
.woocommerce-cart table.cart img {
	width: auto!important;
}

/* Contact Form 7 */
div.wpcf7-mail-sent-ok {
	border: none!important;
}

div.wpcf7-mail-sent-ng {
	border: none!important;
}

div.wpcf7-spam-blocked {
	border: none!important;
}

div.wpcf7-validation-errors {
	border: none!important;
}
.use-floating-validation-tip span.wpcf7-not-valid-tip {
	border: none!important;
}
div.wpcf7-response-output {
	color: #fff;
}