.work-text p{font:13px 'Raleway', sans-serif;margin-top:2px;}
.work-text h4{font:21px/19px 'Raleway', sans-serif;color:#374246;padding-top:25px;}
a{color:#43c4ab;}
ul.products li.product .stock.in-stock{display:none;}
.home header:first-child, header.inner-head{background-size:cover!important;}
.woocommerce div.product p.stock{font-size:24px;font-family:inherit;text-transform:uppercase;}
div.wpcf7-response-output{color:#398F14;text-align:center;text-transformation:uppercase;}
#reviews_summary{display:none;}
.upload_section{display:none;}
.woocommerce-ordering{display:none;}
.woocommerce .woocommerce-message{border-top-color:#C88419;}
.woocommerce .woocommerce-info{border-top-color:#C88419;}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{line-height:2;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{background-color:#C88419;}
.woocommerce-cart table.cart td.actions .coupon .input-text{line-height:1.5;}
.view-detail-custom{clear:both;display:table;margin:0 auto;padding:10px 0;width:160px;border:2px solid #43c4ab;font:14px 'CrimsonTextRoman';color:#43c4ab;text-align:center;text-transform:uppercase;transition:all ease .3s;background-color:#fff;width:100%;}
.checkbox{display:inline!important;}
.checkbox label{margin-right:10px;}
.form-control{border-radius:0px!important;}
.custom h3{float:left;width:100%;margin:0 0 6px;font:18px 'Raleway', sans-serif;color:#374246;text-transform:uppercase;}
.gap{clear:both;height:40px;}
.gap-50{clear:both;height:50px;}
.gap-100{clear:both;height:100px;}
.gap-120{clear:both;height:120px;}
.gap-30{clear:both;height:30px;}
.gap-35{clear:both;height:35px;}
.gap-45{clear:both;height:45px;}
.gap-25{clear:both;height:25px;}
.gap-20{clear:both;height:20px;}
.gap-10{clear:both;height:10px;}
.gap-clear{clear:both;height:10px;}
.centered{margin:0 25%;}
.uppercase{text-transform:uppercase;}
.text-center{text-align:center;}
.faq-custom{float:left;width:100%;padding:30px 0;border-bottom:1px solid #d8d8d8;}
.faq-custom h3{text-align:center;width:100%;margin:0 0 8px;font:18px 'Raleway', sans-serif;color:#374246;text-transform:uppercase;background:url(/wp-content/themes/YSA/img/top-border.jpg) top center no-repeat;padding:7px 0 0;}