/* @override
http://127.0.0.1/wp-ysa/wp-content/themes/YSA/css/main.css */

@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body {
	padding:0;
	margin:0;
	font-family: 'Raleway', sans-serif;
}
ul {
	list-style:none;
}
a {
	text-decoration:none;
	outline:none;
}
body a:hover, body a:focus {
	color:initial;
	text-decoration:none;
}
a:focus {
	outline:none;
	text-decoration:underline;
}
input, textarea {
	outline:none !important;
}
button {
	outline:none;
}
a img {
	border:none;
}
img {
	border:0px;
}
p {
	padding:0;
	margin:0;
}
.bottom {margin-bottom:10px;}
h1, h2, h3, h4, ul, p {
	padding:0;
	margin:0;
	font-family: 'Raleway', sans-serif;
}
.gap {
	clear: both;
	height: 40px;
}
.gap-50 {
	clear: both;
	height: 50px;
}
.gap-100 {
	clear: both;
	height: 100px;
}
.gap-120 {
	clear: both;
	height: 120px;
}
.gap-30 {
	clear: both;
	height: 30px;
}
.gap-35 {
	clear: both;
	height: 35px;
}
.gap-45 {
	clear: both;
	height: 45px;
}
.gap-25 {
	clear: both;
	height: 25px;
}
.gap-20 {
	clear: both;
	height: 20px;
}
.gap-clear {
	clear: both;
	height: 10px;
}
textarea {
	resize:none;
}
input::-moz-placeholder {
	opacity:1;
	outline:none;
}
textarea::-moz-placeholder {
	opacity:1;
	outline:none;
}
.clr {
	clear:both;
	height:0px;
}
.text-para {
	font:18px;
		color:#6d777b;
	line-height:24px;
}
.home header:first-child {
	padding:0 0 60px;
	background:url(../img/top-bg-2.jpg) top center no-repeat;
	background-size:100%;
}
.logo-sm {
	float:left;
	display:none;
}
.logo {
	float:left;
	width:13%;
	margin:25px 0 0;
}
.inner-head {
	background:#374246;
	padding:20px 0;
	background: url(../img/inner-banner.jpg) top center no-repeat;
	background-size: cover;
}
.inner-head .logo {
	width:10%;
	margin:0;
}
nav {
	float:left;
}
.navbar-collapse {
	padding:0;
}
.menu-sec {
	float:right;
	margin:38px 0 0;
}
.menu {
	float:left;
}
.menu li {
	float:left;
	margin:0 2px 0 0;
}
.menu li:last-child {
	margin:0;
}
.menu li a {
	float:left;
	padding:10px 15px;
	border:1px solid transparent;
	font:14px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	transition:all ease .3s;
}
.menu li a.active, .menu li a:hover, .menu li a:focus {
	background:none;
	border:1px solid #fff;
}
.top-bar .cart-sec {
	float:right;
	margin:0 0 0 10px;
}
.cart-sec a {
	float:left;
	margin:11px 24px 0 0;
	font:14px 'Raleway', sans-serif;
	color:#43c4ab;
	text-transform:uppercase;
}
.cart-sec a:hover, .cart-sec a:focus {
	color:#fff;
}
.top-bar .cart {
	float:left;
	margin:5px 0 0;
}
.top-bar .cart img {
	float:left;
	margin:0 5px 0 0;
	vertical-align:middle;
}
.top-bar .cart span {
	float: right;
	width: 22px;
	height: 22px;
	margin: -7px -8px 0;
	background: #fff;
	border-radius: 100px;
	font: 14px 'Raleway', sans-serif;
	color: #374246;
	text-align: center;
	line-height: 21px;
}
.inner-head .menu-sec {
	margin:28px 0 0;
}
.page-heading {
	clear:both;
	display:table;
	width:70%;
	margin:240px auto 0;
}
.page-heading h1 {
	float:left;
	width:100%;
	margin:0 0 20px;
	font:60px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.page-heading p {
	float:left;
	width:100%;
	margin:0 0 45px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	line-height:24px;
	text-align:center;
}
.learn-more {
	clear:both;
	display:table;
	margin:0 auto;
	padding:14px 27px;
	border:2px solid #fff;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	transition:all ease .3s;
}
.learn-more:hover, .learn-more:focus {
	color:#fff;
	border-color:#43c4ab;
}
.work-sec {
	float:left;
	width:100%;
	background:#fff;
	padding:70px 0;
}
.content-heading {
	clear:both;
	display:table;
	margin:0 auto 60px;
	padding:7px 0 0;
	font:24px 'Raleway', sans-serif;
	color:#374246;
	text-transform:uppercase;
	text-align:center;
	background:url(../img/top-border.jpg) top center no-repeat;
}
.work-left {
	float:left;
	width:100%;
}
.work-left li {
	float:left;
	width:100%;
	margin:0 0 25px;
}
.work-left li:last-child {
	margin:0;
}
.work-icon {
	float:left;
	width:10%;
	margin:0 0;
}
.work-text {
	float:right;
	width:85%;
}
.work-text p {
	float:left;
	width:97%;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
	line-height:20px;
}
.work-img {
	position:relative;
	float:left;
	width:100%;
}
.work-img img {
	float:left;
	width:100%;
}
.work-img-border {
	position:absolute;
	display:block;
	z-index:1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:96%;
	height:96%;
	border:2px solid rgba(256, 256, 256, 0.6);
}
.product-opt-sec {
	float:left;
	width:100%;
	padding:61px 0 0;
	background:url(../img/product-bg.jpg) top center no-repeat;
	background-size:cover;
}
.product-opt-sec .content-heading {
	color:#fff;
}
.product-option {
	display:table;
	width:95%;
	margin:0 auto;
	padding:10px 15px;
	background:#374246;
}
.product-option ul {
	float:left;
	width:100%;
}
.product-option ul li {
	position:relative;
	float:left;
	width:33%;
	margin:0 2px 0 0;
	padding:0 45px 30px;
	border:1px solid transparent
}
.product-img {
	position:relative;
	float:left;
	width:100%;
	margin:50px 0 20px;
}
.product-img img {
	border:5px solid #2b3437;
}
.product-option ul li h3 {
	float:left;
	width:100%;
	margin:0 0 10px;
	font:23px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	line-height:24px;
}
.product-option ul li h2 {
	float:left;
	width:100%;
	font:72px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	line-height:72px;
	margin-bottom: 30px;
}
.product-option ul li h2 sub {
	font-size:24px;
	bottom:0;
}
.product-option ul li h4 {
	float:left;
	width:100%;
	margin:0 0 20px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	line-height:18px;
}
.product-option ul li:hover, .product-option ul li.active {
	border:1px solid #43c4ab;
}
.product-option ul li:hover span, .product-option ul li.active span {
	position:absolute;
	left:0;
	right:0;
	display:table;
	width:38px;
	height:15px;
	margin:-1px auto 0;
	z-index:2;
	/*background:url(../img/pro-arrow.jpg) top center no-repeat;*/
}
.most-popular {
	position:absolute;
	clear:both;
	display:table;
	width:85%;
	left:0;
	right:0;
	margin:-16px auto 0;
	padding:0 19px 10px;
	background:url(../img/most-bg-left.png) top left no-repeat, url(../img/most-bg-right.png) top right no-repeat;
}
.most-popular h5 {
	float:left;
	width:100%;
	padding:5px 0;
	margin:0;
	background:#43c4ab;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
.view-detail {
	clear:both;
	display:table;
	margin:0 auto;
	padding:10px 0;
	width:160px;
	border:2px solid #fff;
	font:14px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	transition:all ease .3s;
}
.view-detail:hover, .view-detail:focus {
	border-color:#000;
	color:#fff;
}
.as-seen-on {
	float:left;
	width:100%;
	padding:60px 0;
}
.client-logo {
	float:left;
	width:100%;
	padding:0 60px;
}
.client-logo li {
	float:left;
	margin:0 47px 0 0;
}
.client-logo li:last-child {
	margin:0;
}
.as-seen-on .content-heading {
	margin:0 auto 30px;
}
.what-people-say {
	float:left;
	width:100%;
	padding:65px 0;
	background:url(../img/testimonila-bg.jpg) top center no-repeat;
	background-size: cover;
}
.what-people-say .content-heading {
	margin:0 auto 30px;
	color:#fff;
}
.client-testimonial {
	float:left;
	width:100%;
}
.client-testimonial p {
	float:left;
	width:100%;
	margin:0 0 55px;
	padding:0 100px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	line-height:27px;
}
.client-detail {
	clear:both;
	display:table;
	margin:0 auto;
}
.client-detail h3 {
	float:left;
	width:100%;
	margin:0 0 5px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
}
.client-detail h4 {
	float:left;
	width:100%;
	margin:0 0 40px;
	font:18px 'Raleway', sans-serif;
	color:#43c4ab;
	text-align:center;
}
.client-img {
	clear:both;
	display:table;
	margin:0 auto;
}
.client-img img {
	border:4px solid #fff;
	border-radius:100%;
}
.faq {
	float:left;
	width:100%;
	margin:67px 0;
	padding:60px 0;
	border-top:1px solid #d8d8d8;
}
.faq h3 {
	float:left;
	width:100%;
	margin:0 0 8px;
	font:18px 'Raleway', sans-serif;
	color:#374246;
	text-transform:uppercase;
}
.faq p {
	float:left;
	width:100%;
	margin:0 0 25px;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
}
.the-box {
	float:left;
	width:100%;
	padding: 65px 0;
}
.blog-post {
	width:100%;
	float:left;
	margin:0 0 40px;
}
.blog-pic {
	width:100%;
	float:left;
	position:relative;
}
.blog-pic img {
	width:100%;
	height:auto;
	float:left;
}
.date-sec {
	width:75px;
	height:75px;
	background:#43c4ab;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	font:14px/20px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	padding:6px 0 0;
}
.date-sec span {
	font-size:36px;
	line-height:22px;
	margin:6px 0 0;
	display:block;
}
.the-box .blog-post h2 {
	width:100%;
	float:left;
	font:24px/30px 'Raleway', sans-serif;
	color:#374246;
	padding:15px 0;
	border-bottom:1px solid #d8d8d8;
	margin:0 0 15px;
}
.blog-post p {
	width:100%;
	float:left;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	margin:0 0 25px;
}
.blog-post h3 {
	width:100%;
	float:left;
	font:17px/18px 'Raleway', sans-serif;
	color:#374246;
	padding:10px 0;
	background:url(../img/small-border.png) top left no-repeat;
	text-transform:uppercase;
	margin:0 0 15px;
}
.blog-post a {
	float:left;
	font:16px/24px 'Raleway', sans-serif;
	color:#43c4ab;
	margin:0 0;
}
.blog-post a:hover {
	text-decoration:underline;
}
.the-box .view-detail {
	border-color:#43c4ab;
	color:#43c4ab;
}
.the-box .view-detail:hover, .the-box .view-detail:focus {
	color:#43c4ab;
	border-color:#000;
}
.do-good {
	float:left;
	width:100%;
	padding:70px 0 80px;
	background:url(../img/do-good-bg-2.jpg) top center no-repeat;

	background-size:cover;
}
.do-good h2 {
	float:left;
	width:100%;
	margin:0 0 30px;
	font:60px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	line-height:60px;
}
.do-good p {
	float:left;
	width:100%;
	margin:0 0 40px;
	padding:0 120px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	line-height:24px;
}
.do-good .view-detail {
	border-color:#43c4ab;
}
.address-info {
	float:left;
	width:100%;
	padding:68px 0;
}
.address-detail {
	clear:both;
	display:table;
	width:60%;
	margin:0 auto;
}
.address-left {
	/*float:left;
	width:30%;*/
}
.address-left h2, .address-right h2 {
	float:left;
	width:100%;
	margin:0 0 6px;
	font:18px 'Raleway', sans-serif;
	color:#374246;
	text-transform:uppercase;
}
.address-left p, .address-right p {
	float:left;
	width:100%;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
}
.address-right {
	/*float:right;
	width:55%;*/
}
.address-right p {
	width:87%;
}
.address-right p a {
	color:#43c4ab;
}
.contact-info {
	float:left;
	width:100%;
	padding:70px 0;
	background:url(../img/address-info-bg.jpg) top center no-repeat;
	background-size:cover;
}
.contact-info h2 {
	float:left;
	width:100%;
	margin:0 0 30px;
	font:36px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
.contact-form {
	clear:both;
	display:table;
	width:70%;
	margin:0 auto;
}
.contact-form p {
	float:left;
	width:100%;
	padding:0 70px;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
}
.contact-form ul {
	float:left;
	width:100%;
	margin:68px 0 0;
}
.contact-form ul li {
	float:left;
	width:100%;
	margin:0 0 32px
}
.contact-form ul li input, .contact-form ul li textarea {
	float:left;
	width:100%;
	padding:0 0 15px;
	background:none;
	border:none;
	border-bottom:1px solid #fff;
	font:14px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
}
.contact-form ul li textarea {
	height:190px;
}
.contact-form ul li input::-webkit-input-placeholder, .contact-form ul li textarea::-webkit-input-placeholder {
	color: #fff;
}
.contact-form ul li input:-moz-placeholder, .contact-form ul li textarea:-moz-placeholder {
	color: #fff;
}
.contact-form .view-detail {
	border-color:#43c4ab;
	background:none;
}
.contact-form .view-detail:hover {
	border-color:#fff;
}
/*Blog Page*/

.blog-page-sec {
	width:100%;
	float:left;
	padding:0 0 20px;
}
.breadcrumb {
	width:100%;
	float:left;
	margin:0;
	padding:15px 0;
	background:none;
	border-bottom:1px solid #d8d8d8;
}
.breadcrumb li a {
	font:18px/18px 'Raleway', sans-serif;
	color:#6d777b;
}
.breadcrumb li a:hover {
	color:#43c4ab;
}
.breadcrumb > li + li::before {
	color:#6d777b;
}
.page-title {
	width:100%;
	float:left;
	margin:60px 0;
	text-align:center;
}
.page-title h1 {
	width:100%;
	float:left;
	font:30px/30px 'Raleway', sans-serif;
	color:#374246;
	text-transform:uppercase;
}
.page-title h2 {
	width:100%;
	float:left;
	font:18px/18px " 'Raleway', sans-serif;
		color:#6d777b;
}
.blog-post {
	width:100%;
	float:left;
	margin:0 0 40px;
}
.blog-pic {
	width:100%;
	float:left;
	position:relative;
}
.blog-pic img {
	width:100%;
	height:auto;
	float:left;
}
.date-sec {
	width:75px;
	height:75px;
	background:#43c4ab;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	font:14px/20px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	padding:6px 0 0;
}
.date-sec span {
	font-size: 32px;
	line-height: 22px;
	margin: 3px 0 3px;
	display: block;
}
.blog-post h2 {
	width:100%;
	float:left;
	font:30px/30px 'Raleway', sans-serif;
	color:#374246;
	padding:15px 0;
	border-bottom:1px solid #d8d8d8;
	margin:0 0 15px;
}
.blog-post p {
	width:100%;
	float:left;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	margin:0 0 25px;
}
.blog-post h3 {
	width:100%;
	float:left;
	font:17px/18px 'Raleway', sans-serif;
	color:#374246;
	padding:10px 0;
	background:url(../img/small-border.png) top left no-repeat;
	text-transform:uppercase;
	margin:0 0 15px;
}
.blog-post a {
	float:left;
	font:16px/24px 'Raleway', sans-serif;
	color:#43c4ab;
	margin:0 0;
}
.blog-post a:hover {
	text-decoration:underline;
}
.blog-post-form {
	width:100%;
	float:left;
}
.blog-post-form ul {
	width:100%;
	float:left;
}
.blog-post-form ul li {
	width:100%;
	float:left;
	margin:0 0 25px;
}
.blog-post-form ul li:nth-child(1) {
	width:48%;
}
.blog-post-form ul li:nth-child(2) {
	float:right;
	width:48%;
}
.blog-post-form ul li input {
	width:100%;
	float:left;
	background:#fff;
	border:1px solid #d8d8d8;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	padding:14px 25px;
}
.blog-post-form ul li .message {
	width:100%;
	float:left;
	min-height:200px;
	background:#fff;
	border:1px solid #d8d8d8;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	padding:15px 25px;
}
.blog-post-form ul li input.blog-submit {
	width:160px;
	float:left;
	background:#43c4ab;
	border:0px solid #d8d8d8;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.blog-post-form ul li input.blog-submit:hover {
	background:#be7b13;
}
.blog-sidebar {
	width:100%;
	float:left;
}
.blog-sidebar h3 {
	width:100%;
	float:left;
	font:17px/18px 'Raleway', sans-serif;
	color:#374246;
	padding:10px 0;
	background:url(../img/small-border.png) top left no-repeat;
	text-transform:uppercase;
	margin:0 0 15px;
}
.newsletter-sec {
	width:100%;
	float:left;
	position:relative;
	margin:0 0 50px;
}
.newsletter-sec input {
	width:100%;
	float:left;
	background:#fff;
	border:1px solid #d8d8d8;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	padding:13px 55px 13px 25px;
}
.newsletter-sec input::-webkit-input-placeholder {
	color: #6d777b;
}
.newsletter-sec input:-moz-placeholder {
	color: #6d777b;
}
.newsletter-sec input.newsletter {
	width:32px;
	position:absolute;
	right:15px;
	top:17px;
	background:url(../img/newsltr-icon.png) top center no-repeat;
	border:0;
	padding:0;
}
.cat-list {
	width:100%;
	float:left;
	margin:0 0 35px;
}
.cat-list li {
	width:100%;
	float:left;
	margin:0 0 18px;
}
.cat-list li a {
	clear:both;
	float:left;
	font:18px/18px 'Raleway', sans-serif;
	color:#374246;
	padding:0 0 0 30px;
	background:url(../img/cat-icon.png) 0 50% no-repeat;
}
.cat-list li a:hover {
	color:#43c4ab;
}
.popular-product {
	width:100%;
	float:left;
}
.popular-product li {
	width:100%;
	float:left;
	margin:0 0 20px;
}
.pop-product-pic {
	width:22%;
	float:left;
}
.pop-product-des {
	width:75%;
	float:right;
}
.pop-product-des h2 {
	width:100%;
	float:left;
	font:18px/18px 'Raleway', sans-serif;
	color:#374246;
	padding:0 0 10px;
	border-bottom:1px solid #d8d8d8;
	margin:0 0 10px;
}
.pop-product-des a {
	float:left;
	font:14px/18px 'Raleway', sans-serif;
	color:#43c4ab;
	text-transform:uppercase;
}
.pop-product-des a:hover {
	color:#be7b13;
}
.pagination-blog {
	width:100%;
	float:left;
	border-top:1px solid #d8d8d8;
	margin:20px 0 60px;
}
.pagination-blog li {
	width:40px;
	float:left;
}
.pagination-blog li a {
	width:100%;
	float:left;
	text-align:center;
	font:18px/18px 'Raleway', sans-serif;
	color:#6d777b;
	padding:25px 0 0;
}
.pagination-blog li a.italic {
	font-family:" 'Raleway', sans-serif;
}
.pagination-blog li a:hover, .pagination-blog li a.active {
	color:#43c4ab;
	border-top:1px solid #43c4ab;
	margin:-1px 0 0;
	font-family:'Raleway', sans-serif;
	line-height:25px;
}
.pagination-blog li a:hover.italic {
	font-family:" 'Raleway', sans-serif;
		line-height:18px;
}
/*Login Page*/
.login-page-sec {
	width:100%;
	float:left;
	padding:70px 0;
	background:url(../img/login-bg.jpg) top center;
	background-size:cover !important;
}
.login-content {
	width:445px;
	display:table;
	margin:0 auto;
}
.login-logo {
	width:100%;
	float:left;
}
.login-logo img {
	display:block;
	margin:0 auto;
}
.login-content h1 {
	width:100%;
	float:left;
	text-align:center;
	font:36px/36px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin:50px 0 0;
}
.login-content h3 {
	width:100%;
	float:left;
	text-align:center;
	font:18px/24px " 'Raleway', sans-serif;
		color:#fff;
}
.login-content h3 a {
	color:#43c4ab;
}
.login-content h3 a:hover {
	color:#fff;
}
.login-form {
	width:100%;
	float:left;
	background: #fff;
	margin:45px 0 60px;
	padding:40px;
}
.login-form li {
	width:100%;
	float:left;
	margin:0 0 15px;
}
.login-form li input {
	width:100%;
	float:left;
	background:#fff;
	border:1px solid #d8d8d8;
	font:18px/24px 'Raleway', sans-serif;
	color:#6d777b;
	padding:13px 25px;
}
.login-form li input.login-btn {
	width:100%;
	float:left;
	background:#43c4ab;
	border:0px solid #d8d8d8;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.login-form li input.login-btn:hover {
	background:#be7b13;
}
.checkboxes {
	float:left;
}
.login-form li a {
	float:right;
	font:18px/24px 'Raleway', sans-serif;
	color:#43c4ab;
	text-decoration:underline;
}
.login-form li a:hover {
	text-decoration:none;
}
.login-content h2 {
	width:100%;
	float:left;
	text-align:center;
	font:30px/30px 'Raleway', sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin:0 0 10px;
}
.login-content a.support-mail {
	width:100%;
	float:left;
	text-align:center;
	font:18px/18px 'Raleway', sans-serif;
	color:#fff;
	margin:0 0 0;
}
.login-content a.support-mail img {
	margin:0 5px 0 0;
}
.has-js .label_check, .has-js .label_radio {
	padding-left: 25px;
	font:18px/16px 'Raleway', sans-serif;
	color:#6d777b;
	margin:4px 0 0;
}
.has-js .label_radio {
	background: url(../img/radio-off.png) no-repeat;
}
.has-js .label_check {
	background: url(../img/check-off.png) no-repeat;
}
.has-js label.c_on {
	background-position:0 -16px;
}
.has-js label.r_on {
	background: url(../img/radio-on.png) no-repeat;
}
.has-js .label_check input, .has-js .label_radio input {
	position: absolute;
	left: -9999px;
}
/*--- Product List ---*/
.product-list-sec .page-title h2 {
	margin:0 0 50px;
}
.short-by {
	clear:both;
	display:table;
	width:32%;
	margin:0 auto;
	position:relative;
}
.select-wrapper {
	float: left;
	display: inline-block;
	border-bottom: 3px solid #374246;
	background: url("../img/down-arrow.png") no-repeat right center;
	cursor:pointer;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
	text-align:left;
}
.select-wrapper, .select-wrapper select {
	width: 100%;
	height: 40px;
	line-height: 36px;
}
.select-wrapper .holder {
	display: block;
	margin: 0 35px 0 0;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.select-wrapper select {
	margin: 0;
	left:0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	_noFocusLine: expression(this.hideFocus=true);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.porduct-list {
	float:left;
	width:100%;
	margin:0;
	border:1px solid #d8d8d8;
	border-bottom:none;
}
.porduct-list span {
	float:left;
	width:100%;
	height:40px;
	margin:10px 0 30px;
	font:24px 'Raleway', sans-serif;
	color:#374246;
	text-align:center;
}
.porduct-list span.sale {
	height:auto;
	padding:5px 0;
	font-size:18px;
	margin:0 0 44px;
	background:#374246;
	color:#fff;
	text-transform:uppercase;
}
.porduct-list h3 {
	float:left;
	width:100%;
	margin:10px 0;
	padding:10px 0 0;
	border-top:1px solid #d8d8d8;
	font:18px 'Raleway', sans-serif;
	color:#374246;
	text-align:center;
	text-transform:uppercase;
}
.porduct-list h4 {
	clear:both;
	display:table;
	width:97%;
	margin:0 auto 10px;
	padding:10px 0 0;
	border-top:1px solid #d8d8d8;
	font:18px 'Raleway', sans-serif;
	color:#43c4ab;
	text-align:center;
	text-transform:uppercase;
}
.product-list-img {
	float:left;
	width:100%;
}
.product-list-img img {
	display:block;
	margin:0 auto;
}
.view-detail-btn {
	float:left;
	width:100%;
	margin:0 0 30px;
	padding:2px;
	background:#43c4ab;
}
.view-detail-btn a {
	float:left;
	width:50%;
	padding:14px 0;
	font:14px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
.view-detail-btn .view-bg {
	background:#fff;
	color:#43c4ab;
}
.view-detail-btn a:hover, .view-detail-btn a:focus {
	color:#fff;
}
.view-detail-btn a.view-bg:hover, .view-detail-btn a.view-bg:focus {
	color:#43c4ab;
}
.pagination-product {
	float:left;
	width:100%;
	margin:25px 0 0;
	border-top:1px solid #d8d8d8;
}
.pagination-product .pagination-blog {
	width:auto;
	float:none;
	display:table;
	margin:0 auto;
	border-top:none;
}
footer {
	width:100%;
	float:left;
	padding:30px 0 0;
	background:#1c2122;
}
.footer-social {
	width:100%;
	float:left;
}
.footer-social ul {
	display:table;
	margin:0 auto;
}
.footer-social ul li {
	float:left;
	margin:0 10px;
}
.footer-social ul li a {
	display:block;
	color:#fff;
	font-size:20px;
}
.footer-social ul li a:hover {
	color:#43c4ab;
}
.foot-links {
	width:100%;
	float:left;
	margin:30px 0;
}
.foot-links ul {
	display:table;
	margin:0 auto;
}
.foot-links ul li {
	float:left;
	margin:0 7px;
}
.foot-links ul li a {
	display:block;
	font:16px/16px 'Raleway', sans-serif;
	color:#fff;
}
.foot-links ul li a:hover {
	color:#43c4ab;
}
.copy-right {
	width:100%;
	float:left;
	padding:20px 0;
	text-align:center;
	font:16px/16px 'Raleway', sans-serif;
	color:#3f4546;
	border-top:1px solid #242a2b;
}
/*--- Product Detail ---*/
.product-view-detail {
	float:left;
	width:100%;
	margin:22px 0 0;
	padding:0 0 0 90px;
}
.product-view-detail h2 {
	float:left;
	width:100%;
	margin:0 0 15px;
	font:36px 'Raleway', sans-serif;
	color:#374246;
	text-transform:uppercase;
}
.product-view-detail h3 {
	float:left;
	width:100%;
	padding:10px 0;
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
	font:36px 'Raleway', sans-serif;
	color:#43c4ab;
	text-transform:uppercase;
}
.product-view-detail h4 {
	float:left;
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #d8d8d8;
	font:18px 'Raleway', sans-serif;
	color:#43c4ab;
}
.product-view-detail p {
	float:left;
	width:100%;
	padding:20px 0;
	margin:0 0 23px;
	border-bottom:1px solid #d8d8d8;
	font:400 14px "Open Sans";
	color:#6d777b;
	line-height:24px;
}
.buy-now {
	clear:both;
	float:left;
	padding:13px 35px;
	background:#43c4ab;
	font:18px 'Raleway', sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	transition:all ease .3s;
}
.buy-now:hover, .buy-now:focus {
	color:#fff;
	background:#c27b0b;
}
.share-icon {
	float:left;
	width:100%;
	margin:26px 0 0;
	padding:10px 0 0;
	border-top:1px solid #d8d8d8;
}
.share-icon h5 {
	float:left;
	width:100%;
	margin:10px 0 20px;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
}
.share-icon ul {
	float:left;
	width:100%;
}
.share-icon ul li {
	float:left;
	margin:0 10px 0 0;
}
.share-icon ul li:last-child {
	margin:0;
}
.write-review {
	float:left;
	width:100%;
	margin:68px 0;
	padding:50px 0;
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
}
.write-rvw-heading {
	clear:both;
	display:table;
	margin:0 auto 20px;
	padding:10px 0 0;
	background:url(../img/small-border.png) top center no-repeat;
	font:18px 'Raleway', sans-serif;
	color:#374246;
	text-align:center;
	text-transform:uppercase;
}
.write-review p {
	float:left;
	width:100%;
	margin:0 0 40px;
	font:18px 'Raleway', sans-serif;
	color:#6d777b;
	line-height:20px;
	text-align:center;
}
.write-review .buy-now {
	float:none;
	display:table;
	margin:0 auto;
}
.recomended-pro {
	float:left;
	width:100%;
	margin:10px 0 40px;
	border:1px solid #d8d8d8;
}
.recomended-pro-img {
	float:left;
	width:100%;
	padding:45px 0 0;
	min-height:260px;
}
.recomended-pro-img img {
	display:block;
	margin:0 auto;
}
.recomended-pro h3 {
	float:left;
	width:100%;
	padding:12px 0 8px;
	border-top:1px solid #d8d8d8;
	font:16px 'Raleway', sans-serif;
	color:#374246;
	text-align:center;
	text-transform:uppercase;
}
.product-view {
	float:left;
	width:100%;
	margin:40px 0 0;
}


/* vm changes 14.11 */
#navbar{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	display: none;
	z-index: 10;
}
.woocommerce .woocommerce-message{
	border-top-color: #43c4ab !important;
}
.woocommerce .woocommerce-message{
	border-top-color: #43c4ab !important; 
}
	@media (max-width: 767px){
		.work-sec{
			padding-top: 20px;
		}
		.work-text h4{
			padding-top: 0 !important;
		}
		.content-heading{
			margin-bottom: 30px !important;
		}
		#fluid-vid iframe{
			width: 100%;
		}
		.carousel-inner > .item{
			padding-bottom: 30px;
		}
		.blog-post a{
			display: block;
			float: none;
		}
		.faq{
			padding-top: 0 !important;
		}
		.address-left{
			width: 100% !important;
			text-align: center; 
		}
		.address-right p{
			width: 100% !important;
		}
		.address-right{
			text-align: center;
		}
		.address-left p, .address-right p{
			margin-bottom: 20px;
		}
		.address-info{
			padding-top: 20px !important;
		}
		.what-people-say{
			height: 530px !important;
		}
		.cd-top.cd-fade-out{
			opacity: .8;
			z-index: 12;
		}
		#habla_window_div{
			opacity: 0;
			z-index: -1;
		}
		.foot-links ul li{
			float: none !important;
			display: inline-block !important;
			vertical-align: top !important;
			margin: 10px !important;
		}
		.foot-links ul{
			text-align: center;
		}
		.checkbox{
			display: inline-block !important;
			margin-bottom: 6px;
		} 
		.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product{
			width: 49% !important; 
		}
		.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
			width: 49% !important;
			font-size: 14px;
		}
		.woocommerce-cart table.cart td, .woocommerce-cart table.cart th{
			font-size: 12px;
		}
		.woocommerce{
			min-height: 240px;
		}
		.cart-empty{
			text-align: center;
			margin-bottom: 20px;
		}
		.return-to-shop{
			text-align: center;
		}
		.cd-top.cd-is-visible{
			z-index: 12;
		}
	}
