/* vm changes 14.11 */
#navbar{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	display: none;
	z-index: 10;
} 
	@media (max-width: 767px){
		.work-sec{
			padding-top: 20px;
		}
		.work-text h4{
			padding-top: 0 !important;
		}
		.content-heading{
			margin-bottom: 30px !important;
		}
		#fluid-vid iframe{
			width: 100%;
		}
		.carousel-inner > .item{
			padding-bottom: 30px;
		}
		.blog-post a{
			display: block;
			float: none;
		}
		.faq{
			padding-top: 0 !important;
		}
		.address-left{
			width: 100% !important;
			text-align: center; 
		}
		.address-right p{
			width: 100% !important;
		}
		.address-right{
			text-align: center;
		}
		.address-left p, .address-right p{
			margin-bottom: 20px;
		}
		.address-info{
			padding-top: 20px !important;
		}
		.what-people-say{
			height: 530px !important;
		}
		.cd-top.cd-fade-out{
			opacity: .8;
			z-index: 12;
		}
		#habla_window_div{
			opacity: 0;
			z-index: -1;
		}
		.foot-links ul li{
			float: none !important;
			display: inline-block !important;
			vertical-align: top !important;
			margin: 10px !important;
		}
		.foot-links ul{
			text-align: center;
		}
		.checkbox{
			display: inline-block !important;
			margin-bottom: 6px;
		} 
	}