@charset "utf-8";
/* CSS Document */

@media (min-width: 1200px) {
/*----- Desktop Landscape -----*/
}
@media (min-width:992px) and (max-width:1199px) {
/*----- Tablet & iPad Landscape -----*/
header { padding:0 0 100px;}
.cart-sec a { margin:11px 10px 0 0;}
.page-heading { margin:130px auto 0;}
.page-heading h1 { font-size:50px;}
.client-logo { padding:0;}
.client-logo li { margin:0 27px 0 0;}
/*--- Product List ---*/
.inner-head .menu-sec { margin:18px 0 0;}
/*--- Product Detail ---*/
.product-view-detail { padding:0; margin:30px 0 0;}
.product-view-detail h2 { margin:0 0 5px; font-size:22px;}
.product-view-detail h3 { font-size:23px;}
.product-view-detail p { font-size:13px;}
.write-review { margin:40px 0; padding:40px 0;}
.recomended-pro h3 { font-size:14px; line-height:20px;}

.targetarea img { max-width:100%;}
.thumbs a { width:139px; margin:0 19px 0 0;}

}

@media (min-width: 768px) and (max-width:991px) {
/*----- Tablet & iPad Portrait -----*/
header { padding:0 0 60px;}
.menu-sec { margin:25px 0 0;}
.menu li a { padding:8px 7px; font-size:13px;}
.cart-sec a { margin:9px 10px 0 0;}
.logo { width:12%; margin:14px 0 0;}
.page-heading { width:95%; margin:60px auto 0;}
.page-heading h1 { margin:0 0 5px; font-size:35px;}
.work-sec{ padding:40px 0;}
.content-heading { margin:0 auto 30px; font-size:22px;}
.work-text p { width:100%; font-size:16px; line-height:18px;}
.product-option { width:100%;}
.product-option ul li h2 { font-size:40px; line-height:60px;}
.product-option ul li h3 { font-size:18px;}
.product-option ul li h4 { height:40px; font-size:18px; line-height:24px;}
.client-logo { padding:0;}
.client-logo li { width:19%; margin:0 5px 0 0;}
.product-opt-sec { padding:40px 0;}
.as-seen-on { padding:40px 0;}
.client-testimonial p { margin:0 0 30px; padding:0 80px;}
.what-people-say { padding:40px 0 0;}
.what-people-say .content-heading { margin:0 auto 10px;}
.the-box { padding:50px 0 10px;}
.date-sec { font-size:14px; line-height:20px;}
.date-sec span { font-size:27px;}
.the-box .blog-post h2 { font-size:18px; line-height:20px;}
.blog-post p { margin:0 0 15px; font-size:17px; line-height:20px;}
.faq { margin:38px 0 10px; padding:40px 0;}
.faq h3 { margin:0 0 4px; font-size:15px;}
.faq p { margin:0 0 15px; font-size:16px;}
.do-good { padding:40px 0;}
.do-good h2 { margin:0 0 23px; font-size:40px; line-height:24px;}
.do-good p { padding:0; margin:0 0 20px; font-size:17px; line-height:23px;}
.address-info { padding:40px 0;}
.address-detail { width:70%;}
.contact-info { padding:40px 0;}
.contact-form p { padding:0;}
.contact-form ul { margin:30px 0 0;}
.contact-form ul li textarea { height:100px;}
/*--- Product List ---*/
.inner-head .menu-sec { margin:10px 0 0;}
.page-title h1 { font-size:24px;}
.porduct-list h2 { font-size:19px;}
.porduct-list h3 { font-size:12px;}
.porduct-list h4 { font-size:15px;}
.view-detail-btn a { padding:10px 0; font-size:12px;}
.porduct-list h2 { font-size:15px;}
/*--- Blog Post ---*/
.blog-post h2 { font-size:25px; line-height:28px;}
.blog-sidebar h3 { font-size:15px;}
.newsletter-sec { margin:0 0 30px;}
.newsletter-sec input { padding:13px 55px 13px 10px;}
.cat-list li a { padding:0 0 0 20px; font-size:16px;}
.blog-post-form ul li input, .blog-post-form ul li .message { padding:10px;}
.pop-product-des h2 { font-size:15px;}
.pop-product-des a { font-size:13px;}
/*--- Product Detail ---*/
.product-view-detail { padding:0; margin:30px 0 0;}
.product-view-detail h2 { margin:0 0 5px; font-size:22px;}
.product-view-detail h3 { font-size:23px;}
.product-view-detail p { font-size:13px;}
.write-review { margin:40px 0; padding:40px 0;}
.recomended-pro h3 { font-size:14px; line-height:20px;}
.targetarea img { max-width:100%; max-height:270px;}
.thumbs a { width:102px; margin:0 19px 0 0;}



}

@media (max-width: 767px) {
/*----- Large Smartphones -----*/
header { padding:0 0 30px; background-size:cover;}
.logo { display:none;}
.logo-sm { display:block; width:70px;}
.page-heading { display:inherit; float:left; width:100%; margin:20px 0 0;}
.page-heading h1 { margin:0 0 10px; font-size:25px;}
.page-heading p { margin:0 0 15px; font-size:15px; line-height:21px;}
.menu-sec { float:left; width:100%; margin:10px 0 0;}
nav { width:100%; position:relative;}

.navbar-collapse { position:absolute; box-shadow:none; border:none; z-index:1;}
.navbar-toggle { margin:2px 0 0; padding:10px; background:#000; border-radius:0;}
.navbar-toggle .icon-bar { background:#fff;}
.menu { width:100%; margin:10px 0 0;}
.menu li { width:100%; margin:0 0 0; border-bottom:1px solid #333;}
.menu li:last-child { border:none;}
.menu li a { width:100%; text-align:right; border:none; background:#000;}
.menu li a.active, .menu li a:hover, .menu li a:focus { background:#101010; border:none;}
.cart-sec { margin:0 0;}
.learn-more { font-size:13px;}
.work-sec { padding:40px 0;}
.content-heading { margin:0 auto 10px; font-size:18px;}
.work-left { margin:0 0 20px;}
.work-text p { width:100%; font-size:14px;}
.product-opt-sec { padding:40px 0 0;}
.product-option { float:left; display:inherit; width:100%; padding:10px;}
.product-option ul li { width:100%; margin:0 0 10px;}
.product-img img { display:block; margin:0 auto;}
.product-option ul li h2 { font-size:40px;}
.as-seen-on { padding:40px 0;}
.client-logo { padding:0;}
.as-seen-on .content-heading { margin:0 auto 10px;}
.client-logo li { width:19%; margin:0 3px 0 0;}
.what-people-say { padding:40px 0 0;}
.what-people-say .content-heading { margin:0 auto 10px;}
.client-testimonial p { margin:0 0 30px; padding:0; font-size:14px;}
.the-box { padding:40px 0 0;}
.the-box .blog-post h2 { margin:0 0 5px; font-size:18px; line-height:20px;}
.blog-post { margin:0 0 10px;}
.blog-post p { margin:0 0 10px; font-size:14px; line-height:20px;}
.date-sec span { margin:0; font-size:20px; line-height:20px;}
.date-sec { height:50px; width:60px; padding:5px; font-size:12px; line-height:11px;}
.faq { margin:40px 0 0; padding:40px 0 ;}
.faq h3 { margin:0 0 2px; font-size:15px; line-height:15px;}
.faq p { font-size:14px;}
.do-good { padding:40px 0;}
.do-good h2 { margin:0 0 10px; font-size:30px; line-height:30px;}
.do-good p { margin:0 0 20px; padding:0 ; font-size:14px;}
.address-info { padding:40px 0;}
.address-detail { width:100%;}
.address-left h2, .address-right h2 { font-size:15px;}
.address-left p, .address-right p { font-size:14px;}
.contact-info { padding:40px 0;}
.contact-info h2 { margin:0 0 20px; font-size:25px;}
.contact-form { display:inherit; float:left; width:100%;}
.contact-form p { padding:0; font-size:15px;}
.contact-form ul { margin:25px 0 0;}
.contact-form ul li { margin:0 0 17px;}
.contact-form ul li textarea { height:80px;}
.contact-form ul li input, .contact-form ul li textarea { font-size:12px;}
.foot-links ul li a { font-size:14px;}
.copy-right { font-size:14px;}

/*--- Product List ---*/
.inner-head { padding:10px 0;}
.inner-head .menu-sec { margin:0 0;}
.page-title { margin:30px 0;}
.page-title h1 { font-size:25px;}
.short-by { width:50%;}
.porduct-list h2 { font-size:18px;}
.porduct-list h3 { font-size:14px;}
.view-detail-btn a { padding:7px 0; font-size:14px;}
.pagination-blog li { width:30px;}

.targetarea img { max-width:100%; max-height:250px;}
.thumbs { float:none; clear:both; display:table; width:auto; margin:20px auto 0;}
.thumbs a { width:60px; margin:0 19px 0 0;}
.zoomtracker { display:none !important;}

/*--- Login ---*/
.login-page-sec { padding:30px 0;}
.login-content { float:left; display:inherit; width:100%;}
.login-form { padding:20px;}
.login-logo img { width:100px;}
.login-content h1 { margin:30px 0 0; font-size:25px;}
.login-content h3 { font-size:16px;}
.login-form li input { padding:10px 9px; font-size:16px;}
.has-js .label_check, .has-js .label_radio, .login-form li a { font-size:15px;}
.login-content h2 { font-size:20px;}
/*--- Blog Detail ---*/
.blog-post h2 { font-size:17px; line-height:19px;}
.blog-post h3 { margin:20px 0 10px; font-size:15px;}
.blog-post-form ul li { margin:0 0 10px;}
.blog-post-form ul li:nth-child(1), .blog-post-form ul li:nth-child(2) { width:100%;}
.blog-post-form ul li input, .blog-post-form ul li .message { padding:10px; font-size:15px;}
.blog-post-form ul li .message { min-height:50px;}
.blog-sidebar h3 { margin:0 0 3px; font-size:15px;}
.newsletter-sec input { padding:13px 55px 13px 10px; font-size:15px;}
.cat-list li a { float:none; width:auto; padding:0 0 0 16px; font-size:15px;}
.pop-product-des h2 { font-size:15px;}
.pop-product-des a { font-size:12px;}
/*--- Blog ---*/
.pagination-blog { margin:20px 0;}
/*--- Product Detail ---*/
.product-view-detail { width:100%; margin:20px 0 0; padding:0;}
.product-view-detail h2 { font-size:20px; line-height:25px;}
.product-view-detail h3 { font-size:25px;}
.product-view-detail p { padding:10px 0; font-size:13px;}
.write-review { margin:40px 0; padding:40px 0;}
.recomended-pro { margin:10px 0 20px;}
}

@media (max-width: 480px){
/*----- Smartphone iPhone & Android -----*/
.content-heading { font-size:17px;}
.page-heading h1 { font-size:28px;}
.page-heading p {
  margin: 0 0 15px;
  font-size: 15px;
  line-height: 21px;
}
.client-testimonial p { margin:0 0 5px; line-height:17px;}
.the-box .blog-post h2 { font-size:15px;}
.faq h3 { font-size:13px; line-height:17px;}
.address-left { width:40%;}
.foot-links { margin:10px 0;}
.foot-links ul li { margin:0 2px;}
.foot-links ul li a { font-size:12px;}
/*--- Product List ---*/
.breadcrumb li a { font-size:15px;}
.page-title h1 { font-size:16px;}
.short-by { width:90%;}
.pagination-blog li a { font-size:16px;}
.view-detail-btn a {width: 100%;}
.woocommerce .view-detail-btn a.add_to_cart_button, .view-detail-btn .button {display: none;}


}

