.woochimp_skin_general{margin:30px 0;}
.woochimp_skin_general h3,
.woochimp_skin_general th{font:300 normal 15px Helvetica, sans-serif;padding-top:5px;padding-bottom:15px;}
.woochimp_skin_general td{padding:5px 0;}
.woochimp_skin_general input{width:200px;border:1px solid #D9D9D9;font:300 normal 14px Helvetica, sans-serif;padding:10px;}
.woochimp_skin_general input:focus{outline:none;border:1px solid #8C8C8C;padding:10px;-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);}
.woochimp_skin_general .woochimp_widget_content input{width:100%;}
.woochimp_skin_general button,
.woochimp_skin_general button:focus{margin-top:10px;padding:10px 15px;background-color:#2191D6;border:1px solid #196FA3;color:#fff;font:300 normal 15px Helvetica, sans-serif;}
.woochimp_skin_general button:hover,
.woochimp_skin_general button:active{margin-top:10px;padding:10px 15px;background:0;background-color:#64AFDD;border:1px solid #196FA3;color:#fff;font:300 normal 15px Helvetica, sans-serif;}
.woochimp_skin_general .woochimp_shortcode_content{padding:20px;border:1px solid #AACDE3;display:inline-block;}
.woochimp_skin_general .woochimp_shortcode_content table{width:250px;}
.woochimp_skin_general .woochimp_shortcode_content input{width:250px;}
.woochimp_skin_general .woochimp_shortcode_content form{display:inline-block;}
.woochimp_skin_general .woochimp_shortcode_content button{float:right;}
.woochimp_skin_general #woochimp_shortcode_success td,
.woochimp_skin_general #woochimp_widget_success td{text-align:center;color:green;}
.woochimp_skin_general #woochimp_shortcode_error td,
.woochimp_skin_general #woochimp_widget_error td{text-align:center;color:red;}
.woochimp_skin_general .woochimp_shortcode_loading,
.woochimp_skin_general .woochimp_widget_loading{background:url(progress.gif) center center no-repeat;background-size:16px 16px;line-height:16px;padding-right:16px;width:100%;height:50px;display:none;}
.woochimp_skin_general .woochimp_shortcode_content table,
.woochimp_skin_general .woochimp_widget_content table{border:0;border-bottom:0;margin:0;}
.woochimp_skin_general .woochimp_shortcode_content table td,
.woochimp_skin_general .woochimp_widget_content table td{border:0;border-bottom:0;margin:0;padding-left:0;padding-right:0;}
.woochimp_skin_general label{color:#46555D;padding-bottom:3px;}